body{
    background-image: url("psg image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 80px;
    /* margin-bottom: 200px; */
    position: relative;
}
.container{
    opacity: 0.9;
    background-color: rgb(247, 247, 246);
    margin:auto;
    width:max-content;
    margin-top: 120px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 10px rgb(0,0,0,10);
    border: none;
}
h3{
    text-align: center;
    font-weight: bolder;
    font-size: large;
    color:rgb(93, 15, 15);
}
.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 2%;
    border-bottom: 4px;
    align-content: center;
    border: none;
    border: 2px solid transparent;
    border-bottom: 2px solid black;
    color: black;
}
input:hover{
    background-color: rgb(85, 78, 78);
    border: 3px solid transparent;
    color:whitesmoke
}
button{
    margin: 5px;
    width: 150px;
    padding: 8px;
    border: none;
    font-weight: bolder;
    background-color: gray;
    color: aliceblue;
}
button:hover{
    color: rgb(249, 248, 248);
    background-color: rgb(93, 15, 15);
}